npm install express 
npm install cors
# npm install mongoose
npm install multer
npm install dotenv
npm install jsonwebtoken

npm i express cors dotenv jsonwebtoken
npm install firebase-admin --save
npm install firebase
npm install -g firebase-tools



JUST RUN "NPM I" IT WILL AUTOMATICALLY INSTALL ALL OF THE ABV